$shared-color: #d7b899; 
$text-color: #fff; 
$background-color: #d7ccc8;
$page-background-color: #d7b899;


$primary-color: $shared-color;

$body-bg: $page-background-color;
$body-color: $text-color;

.navbar {
  background-color: $primary-color;
  .navbar-brand {
    color: white; 
  }
  .nav-link {
    color: white; 
    &:hover {
      color: $shared-color;
    }
  }
}

.container {
  padding: 20px;
  background-color: $background-color;

  .image-frame {
    display: inline-block;
    padding: 10px;
    border: 5px solid #d7ccc8;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

h1, h2, h3 {
  color: $primary-color;
}

p {
  color: $text-color;
}

footer {
  h4, p, .list-inline-item {
    color: white;
  }
}


